.home {
	display: flex;
	flex-direction: row;
	height: 100%;
	background-color: #ffffff;
}

/* Right */
.right {
	display: flex;
	width: 50%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
}
.login {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #79ADE2;
	color: #091929;
	border-radius: 20px;
	margin: 1%;
	width: 50%;
}
.explication {
	margin-left: 10%;
	margin-right: 10%;
}
.signup {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #BFABCB;
	color: #2C2627;
	border-radius: 20px;
	margin: 1%;
	width: 50%;
}

/*Left*/
.left {
	display: flex;
	flex-direction: column;
	margin: 10vh;
	width: 50%;
}
.left-title {
	font-size: 4em;
	font-display: bold;
	margin-top: 5%;
}
.left-text {
	font-size: 2em;
	margin: 15%;
}