.home {
	background-color: red;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.title {
	display: flex;
	justify-content: center;
	background-color: blue;
	height: 35%;
	color: #ffffff;
	font-size: 10em;
}
.subtitle {
	background-color: yellow;
	height: 20%;
	color: #ffffff;
	font-size: 3em;
}
.button-group {
	background-color: green;
	display: flex;
	flex-direction: row;
	height: 45%;
}
.login {
	background-color: purple;
	width: 50%;
}
.signup {
	background-color: brown;
	width: 50%;
}
